body {
  margin: auto;
}

.wrapper-canvas {
  position: absolute;
  bottom: 50%;
}

.wrapper-canvas-bad {
  position: absolute;
  bottom: 50%;
}

.edit-group {
  position: absolute;
  bottom: 34%;
}

.msg_success {
  color: green;
}

.msg_error {
  color: red;
}

.easing-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.distortion-container {
  position: absolute;
  bottom: 0%;
}

#myCanvas {
  width: 400px;
  height: 400px;
  border: 1px solid black;
}
/* -- chromatic aberration -- */
img {
  width: 300px;
}

img.kill {
  position: relative;
  -webkit-filter: url(#kill);
}

canvas.kill {
  -webkit-filter: url(#kill);
}
